[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
notebook = "*"
django-extensions = "*"

[packages]
requests = "*"
bs4 = "*"
lxml = "*"
django = "*"
django-celery-beat = "*"
celery = {extras = ["redis"],version = "*"}
djangorestframework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
